body {
    color: #556b2f;
    font-size: 12pt;
    font-family: Arial;
}

#listTitle, div, input, #btnAddToList, #removeDone {
    padding: 3px;
    margin: 5px;
}

.listElement {
    padding: 5px;
    margin: 0 0 0 25px;
}

.notDone {
    font-weight: normal;
    color: #ff0000;
}

.done{
    color: #00008b;
    font-weight: bold;
}

button {
    color: #9acd32;
    font-size: 12pt;
    height: 30px;
}