body {
    color: #556b2f;
}

#listTitle, div, input, #btnAddToList {
    padding: 3px;
    margin: 5px;
}

.listElement {
    padding: 5px;
    margin: 0 0 0 25px;
}

.notDone {
    font-weight: normal;
    color: #ff0000;
}

.done{
    color: #00008b;
    font-weight: bold;
}